<footer>
  <div class="cta---footer-wrapper">
    <div class="footer-cta">
      <div class="container-default z-index-1 w-container">
        <div>
          <div class="w-layout-grid grid-2-columns title-and-btn">
            <h2
              data-w-id="bafa3bb0-3087-6d8e-cb98-c3f93d5381f7"
              class="display-2 color-neutral-100 mg-bottom-0"
              style="
                transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
                opacity: 1;
              "
            >
              Contattaci e scopri come possiamo trasformare le tue idee in
              <span class="text-no-wrap">realtà.</span>
            </h2>
            <div
              data-w-id="bafa3bb0-3087-6d8e-cb98-c3f93d5381f9"
              class="buttons-row"
              style="
                transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
                opacity: 1;
              "
            >
              <a href="/contatti" class="btn-primary w-button">Contattaci</a>
            </div>
          </div>
        </div>
      </div>
      <img
        src="https://assets-global.website-files.com/64b6b74827af5e8679925892/64cc336bcce3c305a4d54f32_cta-v2-line-decorative-startuply-x-webflow-template.png"
        srcset="
          https://assets-global.website-files.com/64b6b74827af5e8679925892/64cc336bcce3c305a4d54f32_cta-v2-line-decorative-startuply-x-webflow-template-p-500.png   500w,
          https://assets-global.website-files.com/64b6b74827af5e8679925892/64cc336bcce3c305a4d54f32_cta-v2-line-decorative-startuply-x-webflow-template-p-800.png   800w,
          https://assets-global.website-files.com/64b6b74827af5e8679925892/64cc336bcce3c305a4d54f32_cta-v2-line-decorative-startuply-x-webflow-template-p-1080.png 1080w,
          https://assets-global.website-files.com/64b6b74827af5e8679925892/64cc336bcce3c305a4d54f32_cta-v2-line-decorative-startuply-x-webflow-template.png        2880w
        "
        data-w-id="bafa3bb0-3087-6d8e-cb98-c3f93d5381fc"
        sizes="100vw"
        alt=""
        class="floating-item cta-v1-bg"
        style="opacity: 1"
      />
    </div>
    <div class="mg-section">
      <footer class="footer-wrapper">
        <div class="container-default w-container">
          <div
            data-w-id="bafa3bb0-3087-6d8e-cb98-c3f93d538200"
            class="footer-top"
            style="opacity: 1"
          >
            <div class="w-layout-grid grid-footer-v3">
              <div>
                <a href="/" class="footer-logo-wrapper w-inline-block"
                  ><img src="assets/logo.jpeg" alt="Logo" class="footer-logo"
                /></a>
              </div>
              <div
                id="w-node-_535f5a16-6ec9-45ed-bb3e-3c82f743a30d-91dd5701"
                class="w-layout-grid grid-footer-v1---menu"
              >
                <div
                  id="w-node-bafa3bb0-3087-6d8e-cb98-c3f93d538205-91dd5701"
                  class="menu-title-and-links-wrapper row"
                >
                  <div class="w-layout-grid menu-wrapper col-1">
                    <ul role="list" class="footer-list-wrapper w-list-unstyled">
                      <li class="footer-list-item">
                        <a href="/contatti" class="footer-link">Sede e Contatti</a>
                      </li>
                      <li class="footer-list-item">
                        <div class="text-no-wrap">
                          <img src="assets/icons/map.png" alt="">

                          <a href="https://www.google.com/maps/place/37.545833,14.991806" class="footer-link" target="_blank">Viale dell'Industria 10,Camporotondo etneo CT</a>
  
                        </div>
                      </li>
                      <li class="footer-list-item">
                        <img src="assets/icons/phone.png" alt="">

                        <a href="/" class="footer-link">+39 095 391081</a>
                      </li>
                      <li class="footer-list-item">
                        <img src="assets/icons/message.png" alt="">
                        <a href="/" class="footer-link">+39 351 7194151</a>
                      </li>
                      <li class="footer-list-item">
                        <div class="text-no-wrap">
                          <img src="assets/icons/mail.png" alt="">
                          <a href="/" class="footer-link">pmserramenti@outlook.it</a>
  
                        </div>
                      </li>
                      <li class="footer-list-item">
                        <p class="footer-link center">P.I: 242141241221412 </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- SERVIZI -->
                <!-- <div
                  id="w-node-bafa3bb0-3087-6d8e-cb98-c3f93d538205-91dd5701"
                  class="menu-title-and-links-wrapper"
                >
                  <div class="w-layout-grid menu-wrapper _3-cols">
                    <ul role="list" class="footer-list-wrapper w-list-unstyled">
                      <li class="footer-list-item">
                        <a href="/servizi" class="footer-link">Servizi</a>
                      </li>
                    </ul>
                  </div>
                </div> -->
                <!-- About us -->

                <!-- <div
                  id="w-node-bafa3bb0-3087-6d8e-cb98-c3f93d538205-91dd5701"
                  class="menu-title-and-links-wrapper"
                >
                  <div class="w-layout-grid menu-wrapper _3-cols">
                    <ul role="list" class="footer-list-wrapper w-list-unstyled">
                      <li class="footer-list-item">
                        <a href="/chi-siamo" class="footer-link">Chi Siamo</a>
                      </li>
                    </ul>
                  </div>
                </div> -->

               
              </div>
            </div>
          </div>
          <div
            data-w-id="bafa3bb0-3087-6d8e-cb98-c3f93d538251"
            class="footer-bottom"
            style="opacity: 1"
          >
            <div class="w-layout-grid grid-2-columns paragraph-and-icon-social">
              <p class="mg-bottom-0 color-neutral-100">
                Copyright © | Developed by
                <a
                  href="https://l208.it"
                  target="_blank"
                  class="link-text color-neutral-100 text-decoration-none"
                  >L208</a
                >
              </p>

              <div
                id="w-node-bafa3bb0-3087-6d8e-cb98-c3f93d538255-91dd5701"
                class="w-layout-grid grid-social-media right center---tablet"
              >
                <a
                  href="https://facebook.com/"
                  target="_blank"
                  class="link-text color-neutral-100 text-decoration-none w-inline-block"
                  ><img src="../../../assets/icons/facebook-app-symbol.png" class="social-icon "  alt="facebook"></a
                ><a
                  href="https://twitter.com/"
                  target="_blank"
                  class="link-text color-neutral-100 text-decoration-none w-inline-block"
                  ><img src="../../../assets/icons/twitter.png" class="social-icon "  alt="twitter"></a
                ><a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="link-text color-neutral-100 text-decoration-none w-inline-block"
                  ><img src="../../../assets/icons/instagram.png" class="social-icon "  alt="instagram"></a
                ><a
                  href="https://www.linkedin.com/"
                  target="_blank"
                  class="link-text color-neutral-100 text-decoration-none w-inline-block"
                  ><img src="../../../assets/icons/linkedin.png" class="social-icon "  alt="instagram"></a
                >
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</footer>
