<div
  data-w-id="e132fc92-7837-6e52-eaa4-1151ee350267"
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="header-wrapper w-nav"
  style="opacity: 1"
>
  <div class="container-default w-container">
    <div class="header-content-wrapper">
      <div class="header-left-side">
        <a href="/" class="header-logo-link w-nav-brand" aria-label="home"
          ><img
            src="assets/logo.jpeg"
            alt="Logo"
            class="header-logo"
        /></a>
      </div>
      <div class="header-center">
        <nav role="navigation" class="header-nav-menu-wrapper w-nav-menu">
          <ul role="list" class="header-nav-menu-list w-list-unstyled">
            <li class="header-nav-list-item middle">
              <a
                href="/homepage"
                class="header-nav-link w-nav-link"
                style="max-width: 1303px"
                >Home</a
              >
            </li>
            <li class="header-nav-list-item middle">
              <a
                href="/servizi"
                aria-current="page"
                class="header-nav-link w-nav-link w--current"
                style="max-width: 1303px"
                >Servizi</a
              >
            </li>
            <li class="header-nav-list-item middle">
              <a
                href="/chi-siamo"
                class="header-nav-link w-nav-link"
                style="max-width: 1303px"
                >Chi Siamo</a
              >
            </li>
            <!-- CONTATTI -->
            <!-- <li class="header-nav-list-item middle">
              <a
                href="/blog-pages/blog-v1"
                class="header-nav-link w-nav-link"
                style="max-width: 1303px"
                >Contatti</a
              >
            </li> -->
            <li class="header-nav-list-item middle">
              <div
                data-hover="true"
                data-delay="0"
                data-w-id="4e81a5aa-521d-d8b7-52f8-854008dee07c"
                class="dropdown-wrapper w-dropdown"
                style="max-width: 1303px"
              >
                
                <nav
                  class="dropdown-column-wrapper w-dropdown-list"
                  style="
                    display: none;
                    height: 0px;
                    opacity: 0;
                    transform: translate3d(-50%, 10px, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
                  id="w-dropdown-list-0"
                  aria-labelledby="w-dropdown-toggle-0"
                >
                  <div class="card dropdown-menu">
                    <div class="w-layout-grid grid-dropdown-v1---menu">
                      <div
                        id="w-node-a909e5db-171f-1dae-e86b-e4af6a26892d-ee350267"
                        class="dropdown-menu-title-and-links-wrapper"
                      >
                        <div class="menu-title dropdown-title">Main pages</div>
                        <div
                          class="w-layout-grid dropdown-menu-wrapper _3-cols"
                        >
                          <ul
                            role="list"
                            class="dropdown-list-wrapper w-list-unstyled"
                          >
                            <li class="dropdown-list-item">
                              <a
                                href="/"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Sales</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/homepage"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Home</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/about-pages/about-v1"
                                aria-current="page"
                                class="dropdown-list-link w--current"
                                tabindex="0"
                                >about v1</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/about-pages/about-v2"
                                class="dropdown-list-link"
                                tabindex="0"
                                >about v2</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/about-pages/about-v3"
                                class="dropdown-list-link"
                                tabindex="0"
                                >about v3</a
                              >
                            </li>
                            <li class="dropdown-list-item last">
                              <a
                                href="/blog-pages/blog-v1"
                                class="dropdown-list-link"
                                tabindex="0"
                                >blog v1</a
                              >
                            </li>
                          </ul>
                          <ul
                            role="list"
                            class="dropdown-list-wrapper w-list-unstyled"
                          >
                            <li class="dropdown-list-item">
                              <a
                                href="/blog-pages/blog-v2"
                                class="dropdown-list-link"
                                tabindex="0"
                                >blog v2</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/blog-pages/blog-v3"
                                class="dropdown-list-link"
                                tabindex="0"
                                >blog v3</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/blog/is-it-smart-to-invest-in-cryptocurrency-in-2024-what-you-need-to-know"
                                class="dropdown-list-link"
                                tabindex="0"
                                >blog post</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/features"
                                class="dropdown-list-link"
                                tabindex="0"
                                >features</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/services"
                                class="dropdown-list-link"
                                tabindex="0"
                                >services</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/careers"
                                class="dropdown-list-link"
                                tabindex="0"
                                >careers</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/career/junior-frontend-developer"
                                class="dropdown-list-link"
                                tabindex="0"
                                >carrer single</a
                              >
                            </li>
                            <li class="dropdown-list-item last">
                              <a
                                href="/team"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Team</a
                              >
                            </li>
                          </ul>
                          <ul
                            role="list"
                            class="dropdown-list-wrapper w-list-unstyled"
                          >
                            <li class="dropdown-list-item">
                              <a
                                href="/team/jeremy-matthews"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Team Member</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/help-center"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Help Center</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/help-center-category/getting-started"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Help Center Category</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/help-center-post/how-to-download-the-startply-x-app-on-iphone"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Help Center Single</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/shop"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Shop</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/product/armchair-and-pillow"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Shop single</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/contact"
                                class="dropdown-list-link"
                                tabindex="0"
                                >contact</a
                              >
                            </li>
                            <li class="dropdown-list-item last">
                              <a
                                href="/lading-page"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Lading Page</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="dropdown-menu-title-and-links-wrapper">
                        <div class="menu-title dropdown-title">
                          utility pages
                        </div>
                        <div class="dropdown-menu-links-wrapper">
                          <ul
                            role="list"
                            class="dropdown-list-wrapper w-list-unstyled"
                          >
                            <li class="dropdown-list-item">
                              <a
                                href="/utility-pages/create-account"
                                class="dropdown-list-link"
                                tabindex="0"
                                >create account</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/utility-pages/sign-in"
                                class="dropdown-list-link"
                                tabindex="0"
                                >sign in</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/utility-pages/forgot-password"
                                class="dropdown-list-link"
                                tabindex="0"
                                >forgot password</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/utility-pages/confirm-email"
                                class="dropdown-list-link"
                                tabindex="0"
                                >comfirm email</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/utility-pages/terms-conditions"
                                class="dropdown-list-link"
                                tabindex="0"
                                >terms &amp; conditions</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/utility-pages/coming-soon"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Coming Soon</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/utility-pages/request-a-demo"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Request a demo</a
                              >
                            </li>
                            <li class="dropdown-list-item last">
                              <a
                                href="https://brixtemplates.com/more-webflow-templates"
                                target="_blank"
                                class="dropdown-list-link featured"
                                tabindex="0"
                                >more webflow templates</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="dropdown-menu-title-and-links-wrapper">
                        <div class="menu-title dropdown-title">
                          template pages
                        </div>
                        <div class="dropdown-menu-links-wrapper">
                          <ul
                            role="list"
                            class="dropdown-list-wrapper w-list-unstyled"
                          >
                            <li class="dropdown-list-item">
                              <a
                                href="/template-pages/start-here"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Start here</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/template-pages/style-guide"
                                class="dropdown-list-link"
                                tabindex="0"
                                >style guide</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/404"
                                class="dropdown-list-link"
                                tabindex="0"
                                >404 not found</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/401"
                                class="dropdown-list-link"
                                tabindex="0"
                                >Password protected</a
                              >
                            </li>
                            <li class="dropdown-list-item">
                              <a
                                href="/template-pages/licenses"
                                class="dropdown-list-link"
                                tabindex="0"
                                >licenses</a
                              >
                            </li>
                            <li class="dropdown-list-item last">
                              <a
                                href="/template-pages/changelog"
                                class="dropdown-list-link"
                                tabindex="0"
                                >changelog</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </li>
            <li class="header-nav-list-item show-in-tablet header-btn">
              <a
                href="/contatti"
                class="btn-primary small width-100 w-button"
                >Contattaci!</a
              >
            </li>
          </ul>
        </nav>
        
      </div>
      <div class="header-right-side">
       <a
          href="/contatti"
          class="btn-primary small header-btn-hidde-on-mb w-button"
          >Contattaci!</a
        >
        <div
          class="hamburger-menu-btn w-nav-button"
          style="-webkit-user-select: text"
          aria-label="menu"
          role="button"
          tabindex="0"
          aria-controls="w-nav-overlay-0"
          aria-haspopup="menu"
          aria-expanded="false"
        >
          <div class="hamburger-menu-wrapper">
            <div
              class="hamburger-menu-bar top"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
            ></div>
            <div
              class="hamburger-menu-bar bottom"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div>
