<app-carousel></app-carousel>
<div class="container">
  <!-- servizi -->
  <section id="perks" class="section">
    <div class="container-default w-container">
      <div class="inner-container _500px---mbl center">
        <div
          data-w-id="9ab020ea-4d21-5d99-c2d9-9280495492b1"
          style="
            transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
          "
          class="inner-container _800px center"
        >
          <div class="text-center mg-bottom-40px">
            <div class="accent-line center"></div>
            <h2 class="display-2">
              Servizi
            </h2>
            <div class="inner-container _719px center">
              <p>
                Scoprite come i nostri servizi possono trasformare la vostra
                visione in realtà. Affidatevi a noi per un viaggio
                straordinario verso <span class="text-no-wrap red">il successo.</span>
  
              </p>
            </div>
          </div>
        </div>
        <div class="inner-container _400px---mbl center">
          <div
            data-w-id="2be04e90-c12e-08d7-d898-4dfdb716d65c"
            style="
              transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
                rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              opacity: 1;
              transform-style: preserve-3d;
            "
            class="w-layout-grid grid-3-columns gap-32px"
          >
            <div
              id="w-node-_4f1d9543-d2b7-1f0f-7e01-aeac077bf6ec-ad747afc"
              class="content-icon-top"
            >
              <div class="mg-bottom-32px">
                <div>
                  <div class="content-icon-top---icon">
                    <img
                      src="assets/icons/estintore.svg"
                      loading="eager"
                      alt="Mobile And Desktop App late"
                    />
                  </div>
                </div>
              </div>
              <div>
                <h3 class="display-12 mg-bottom-16px">Antincendio</h3>
                <p class="mg-bottom-0">
                  Proteggiamo il tuo spazio con soluzioni antincendio
                  personalizzate, garantendo sicurezza e conformità normativa.
                  Siamo esperti nella progettazione e installazione di sistemi di
                  prevenzione e controllo degli incendi.
                </p>
              </div>
            </div>
            <div
              id="w-node-_0dfa3998-cc81-26a0-cb07-28ba7f28e047-ad747afc"
              class="content-icon-top"
            >
              <div class="mg-bottom-32px">
                <div>
                  <div class="content-icon-top---icon">
                    <img
                      src="assets/air-conditioner.png"
                      loading="eager"
                      alt="Expense Reports late"
                    />
                  </div>
                </div>
              </div>
              <div>
                <h3 class="display-12 mg-bottom-16px">Climatizzazione</h3>
                <p class="mg-bottom-0">
                  Creiamo ambienti confortevoli e salubri grazie alle nostre
                  soluzioni di climatizzazione. Dai progetti su misura
                  all'installazione di sistemi avanzati, assicuriamo un controllo
                  ottimale della temperatura per il tuo benessere.
                </p>
              </div>
            </div>
            <div
              id="w-node-_3349611e-0b7d-3914-f3a6-db04806d47c0-ad747afc"
              class="content-icon-top"
            >
              <div class="mg-bottom-32px">
                <div>
                  <div class="content-icon-top---icon">
                    <img
                      src="assets/idrico.png"
                      loading="eager"
                      alt="Crypto Support late"
                    />
                  </div>
                </div>
              </div>
              <div>
                <h3 class="display-12 mg-bottom-16px">Idrici</h3>
                <p class="mg-bottom-0">
                  Rivoluziona la gestione degli impianti idrici con il nostro
                  servizio all'avanguardia. Offriamo soluzioni su misura per
                  garantire un approvvigionamento idrico efficiente e sostenibile.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          data-w-id="9caf9748-fffa-1de8-d05b-f0b6fb0fdf74"
          style="
            transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
          "
          class="mg-top-32px"
        >
          <div
            data-w-id="9caf9748-fffa-1de8-d05b-f0b6fb0fdf75"
            style="
              transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
                rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              opacity: 1;
              transform-style: preserve-3d;
            "
            class="buttons-row center"
          >
            <a
              data-w-id="9caf9748-fffa-1de8-d05b-f0b6fb0fdf76"
              href="/servizi"
              class="btn-primary w-inline-block"
              ><div class="flex-horizontal">
                <div>Tutti i servizi</div>
                <div class="arrow-icon"></div>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- sceglierci -->
  <section class="section pd-top-0px">
    <div
      class="container-default overflow-hidden mb-none-overflow-hidden w-container"
    >
      <div
        data-w-id="4efb122c-adf9-de76-eb21-6df6b969a0bd"
        style="
          transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          opacity: 1;
          transform-style: preserve-3d;
        "
        class="inner-container _574px"
      >
        <div class="inner-container _500px---tablet">
          <div class="inner-container _400px---mbl">
            <div class="inner-container _350px---mbp">
              <div class="mg-bottom-68px">
                <div class="accent-line"></div>
                <h2 class="display-2">Perchè sceglierci</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-layout-grid grid-2-columns layout-images-grid">
        <div
          id="w-node-c9549e34-870a-af94-703d-66b60d8bee00-ad747afc"
          data-w-id="c9549e34-870a-af94-703d-66b60d8bee00"
          style="
            transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
          "
          class="w-layout-grid grid-1-column layout-images-1-col"
        >
          <div class="image-layout-alt">
            <img
              sizes="(max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 47vw, 613.5px"
              src="assets/tecnici.jpeg"
              alt="We Have More Than 20 Years Of Experience late"
              class="_w-h-100 fit-cover"
            />
          </div>
          <div
            id="w-node-_83ac0c8d-ad3e-cbf5-2ee2-c6daddcf414e-ad747afc"
            class="layout-content-bottom"
          >
            <h3 class="display-3 mg-bottom-16px">Con più di 1000 clienti</h3>
            <p class="mg-bottom-0">
              Lorem ipsum dolor sit amet consectetur adipiscing elitent eque ipsum
              odio justo amet urna auctor at congue it the vulputate augue
              praesent mauris eu posuere pretium lorei tellus viverra volutpat a
              est quis egestas <span class="text-no-wrap">id risus.</span>
            </p>
          </div>
        </div>
        <div
          id="w-node-_9cf7b2f1-5662-f107-4b61-b1e60de1a32d-ad747afc"
          data-w-id="9cf7b2f1-5662-f107-4b61-b1e60de1a32d"
          style="
            transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
          "
          class="w-layout-grid grid-1-column layout-images-1-col"
        >
          <div
            id="w-node-_9cf7b2f1-5662-f107-4b61-b1e60de1a330-ad747afc"
            class="layout-content-top"
          >
            <div class="inner-container _440px _100-mbl">
              <h3 class="display-3 mg-bottom-16px">
                Abbiamo più di 20 anni
                <span class="text-no-wrap">di esperienza</span>
              </h3>
            </div>
            <p class="mg-bottom-0">
              Morbi ornare duis sit sed id tempus nibh viverra lorem tortor semper
              sed ante eu non hac augue nibh bibendum ferment porttitor volutpat
              ut laculis augue congue augue nisl sit eget non tempor ut tellus
              semper <span class="text-no-wrap">est adipiscing.</span>
            </p>
          </div>
          <div class="image-layout-alt">
            <img
              sizes="(max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 47vw, 613.5px"
              src="../../../assets/clienti.jpeg"
              alt="More Than 1,000,000 Of Happy Customers late"
              class="_w-h-100 fit-cover"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- nostri lavori -->
  <section id="perks" class="section mt-0">
    <div class="container-default w-container">
      <div>
        <div class="mg-bottom-40px">
          <div class="inner-container _520px---mbl">
            <div class="w-layout-grid grid-2-columns title-and-paragraph">
              <div
                data-w-id="c6dc1196-118a-9103-a7c0-8cb0d68c3605"
                style="
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  opacity: 1;
                  transform-style: preserve-3d;
                "
              >
                <div class="accent-line"></div>
                <h2 class="display-2 mg-bottom-0">Alcuni dei nostri lavori:</h2>
              </div>
              <div
                id="w-node-_55e0db4d-468e-4662-4042-fea2a7b7d185-799258b2"
                data-w-id="55e0db4d-468e-4662-4042-fea2a7b7d185"
                style="
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  opacity: 1;
                  transform-style: preserve-3d;
                "
                class="inner-container _390px _100-mbl"
              >
                <p class="mg-bottom-0">possibile scritta</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid grid-2-col---cards">
          <div
            id="w-node-_47e582cc-1d7e-004a-c9f2-80d254c446ca-799258b2"
            class="w-layout-grid grid-1-column gap-26px"
          >
            <div
              id="w-node-a6b8d030-e677-322d-1dfa-79c996047dc6-799258b2"
              data-w-id="a6b8d030-e677-322d-1dfa-79c996047dc6"
              style="
                transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                opacity: 1;
                transform-style: preserve-3d;
              "
              class="card-mobile-app"
            >
              <img
                src="assets/lavoro-1.jpeg"
                alt="World-class Support late"
                sizes="(max-width: 479px) 90vw, (max-width: 991px) 94vw, (max-width: 1439px) 66vw, 756.3021240234375px"
                class="_w-h-100 fit-cover"
              />
              <div class="text-banking-experience">
                <div class="content-banking-experience">
                  <h3 class="display-3 color-neutral-100 mg-bottom-0">
                    Climatizzazione palestra
                  </h3>
                  <div
                    id="w-node-_5798aa19-580b-4575-2328-fb6e0b38b965-799258b2"
                    class="inner-container _343px _100-mbl"
                  ></div>
                </div>
                <div class="bg-overlay-gradient banking-experience"></div>
              </div>
            </div>
            <div
              id="w-node-ce18d4da-59e2-e1fb-55c6-501cabe95627-799258b2"
              class="w-layout-grid grid-2-columns _1-3fr---tablet-1-col"
            >
              <div
                id="w-node-a1b375c8-67a8-143f-e4be-14a5df680d76-799258b2"
                data-w-id="a1b375c8-67a8-143f-e4be-14a5df680d76"
                style="
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  opacity: 1;
                  transform-style: preserve-3d;
                "
                class="card-mobile-app image-top-crypto"
              >
                <img
                  src="assets/lavoro-2.jpeg"
                  alt="Cryptocurrencies Supported late"
                />
                <div class="text---pd-24px">
                  <h3 class="display-3 color-neutral-100 mg-bottom-0">
                    Antincendio Chiesa
                  </h3>
                </div>
              </div>
              <div
                id="w-node-_9897a4d6-9f62-155a-5e75-f4920a58420a-799258b2"
                data-w-id="9897a4d6-9f62-155a-5e75-f4920a58420a"
                style="
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  opacity: 1;
                  transform-style: preserve-3d;
                "
                class="card-mobile-app image-top-earning-expense"
              >
                <div class="text---pd-24px">
                  <h3 class="display-5 mg-bottom-0">
                    Impianto antincendio scuola elementare
                  </h3>
                </div>
                <img
                  src="assets/lavoro-3.jpeg"
                  alt="Earning &amp; Expense Reports late"
                  class="image-absolute-bot"
                />
              </div>
            </div>
          </div>
          <div
            id="w-node-c68de998-1b7a-d24d-837c-b8472837a1d5-799258b2"
            class="w-layout-grid grid-1-column gap-26px"
          >
            <div
              id="w-node-_3b4adc76-02d6-a5f0-5159-f9bcdcbedb3f-799258b2"
              data-w-id="3b4adc76-02d6-a5f0-5159-f9bcdcbedb3f"
              style="
                transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                opacity: 1;
                transform-style: preserve-3d;
              "
              class="card-mobile-app pd-24px---image-bot"
            >
              <div class="max-w-330px tablet-max-w-100">
                <h3 class="display-3 color-neutral-100 mg-bottom-56px">
                  Climatizzazione <span class="text-no-wrap">industria</span>
                </h3>
              </div>
              <img
                src="assets/lavoro-4.png"
                alt="Mobile And Desktop App late"
                sizes="(max-width: 767px) 63vw, (max-width: 991px) 52vw, (max-width: 1439px) 28vw, 373.72918701171875px"
                class="image-phone-balance"
              />
            </div>
            <div
              id="w-node-d58a4724-0bea-fc32-5578-934b13498a94-799258b2"
              data-w-id="d58a4724-0bea-fc32-5578-934b13498a94"
              style="
                transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                opacity: 1;
                transform-style: preserve-3d;
              "
            >
              <a
                id="w-node-e9e2422b-a0b7-2efb-30e1-9042f7addb0f-799258b2"
                data-w-id="e9e2422b-a0b7-2efb-30e1-9042f7addb0f"
                href="//www.instagram.com"
                class="card-mobile-app pd-24px---bg-accent-1 w-inline-block"
                ><div class="inner-container _330px">
                  <div class="inner-container _250px---tablet">
                    <h3 class="display-3 color-neutral-100 mg-bottom-0">
                      Esplora ora!
                    </h3>
                  </div>
                </div>
                <div class="arrow-circle">
                  <div class="line-rounded-icon"></div>
                </div></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-back-to-top-component></app-back-to-top-component>
</div>



<!-- SERVIZI 1 -->
<!-- <section class="section position-relative">
  <div class="container-default w-container">
    <div>
      <div class="inner-container _500px---mbl center">
        <div
          data-w-id="87f4097d-dc73-8d9f-2eae-c177d185ef7d"
          style="
            transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
          "
          class="inner-container _800px center"
        >
          <div class="text-center mg-bottom-40px">
            <div class="accent-line center"></div>
            <h2 class="display-2 color-neutral-100">Servizi</h2>
            <div class="inner-container _454px center">
              <p class="color-neutral-100 mg-bottom-0">
                Lorem ipsum dolor sit amet consectetur adipiscing elit.
                Consectetur tortor nunc
                <span class="text-no-wrap">aliquam consectetur.</span>
              </p>
            </div>
          </div>
        </div>
        <div
          data-w-id="7a317e5e-3897-a583-f5b3-76578a73b2f8"
          style="
            transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
          "
          class="w-layout-grid grid-3-columns"
        >
          <div class="testimonials-wrapper">
            <img
              src="https://assets-global.website-files.com/64b6b74827af5e8679925892/64c7eb9f693027544f89f245_individuals-startuply-x-webflow-template.jpg"
              alt="Individuals late"
              sizes="(max-width: 479px) 85vw, (max-width: 767px) 86vw, (max-width: 991px) 43vw, (max-width: 1439px) 30vw, 399.66668701171875px"
              srcset="
                https://assets-global.website-files.com/64b6b74827af5e8679925892/64c7eb9f693027544f89f245_individuals-startuply-x-webflow-template-p-500.jpg 500w,
                https://assets-global.website-files.com/64b6b74827af5e8679925892/64c7eb9f693027544f89f245_individuals-startuply-x-webflow-template.jpg       796w
              "
              class="fit-cover _w-h-100"
            />
            <div class="testimonials-text-wrapper">
              <div class="testimonials-content">
                <h3 class="display-4 color-neutral-100 mg-bottom-16px">
                  Antincendio
                </h3>
                <p class="color-neutral-100 mg-bottom-0 opacity-90">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                  <span class="text-no-wrap">consectetur torto.</span>
                </p>
                <div class="divider bg-neutral-100 _0px---32px"></div>
              </div>
              <div class="bg-overlay-gradient testimonials"></div>
            </div>
          </div>
          <div class="testimonials-wrapper">
            <img
              src="https://assets-global.website-files.com/64b6b74827af5e8679925892/64c7eb9faef7ed28ac3a0eac_startups-startuply-x-webflow-template.jpg"
              alt="Startups late"
              sizes="(max-width: 479px) 85vw, (max-width: 767px) 86vw, (max-width: 991px) 43vw, (max-width: 1439px) 30vw, 399.66668701171875px"
              srcset="
                https://assets-global.website-files.com/64b6b74827af5e8679925892/64c7eb9faef7ed28ac3a0eac_startups-startuply-x-webflow-template-p-500.jpg 500w,
                https://assets-global.website-files.com/64b6b74827af5e8679925892/64c7eb9faef7ed28ac3a0eac_startups-startuply-x-webflow-template.jpg       796w
              "
              class="fit-cover _w-h-100"
            />
            <div class="testimonials-text-wrapper">
              <div class="testimonials-content">
                <h3 class="display-4 color-neutral-100 mg-bottom-16px">
                  Climatizzazione
                </h3>
                <p class="color-neutral-100 mg-bottom-0 opacity-90">
                  Sed orci tristique duis est sit viverra cras lobortis aliquet
                  <span class="text-no-wrap">nunc amet.</span>
                </p>
                <div class="divider bg-neutral-100 _0px---32px"></div>
              </div>
              <div class="bg-overlay-gradient testimonials"></div>
            </div>
          </div>
          <div
            id="w-node-_83ed3688-ac13-f11c-4671-d62a859af937-799258b2"
            class="testimonials-wrapper last"
          >
            <img
              src="https://assets-global.website-files.com/64b6b74827af5e8679925892/64c7eb9f6722f87953b7be0d_enterprises-startuply-x-webflow-template.jpg"
              alt="Enterprises late"
              sizes="(max-width: 479px) 85vw, (max-width: 767px) 86vw, (max-width: 991px) 29vw, (max-width: 1439px) 30vw, 399.66668701171875px"
              srcset="
                https://assets-global.website-files.com/64b6b74827af5e8679925892/64c7eb9f6722f87953b7be0d_enterprises-startuply-x-webflow-template-p-500.jpg 500w,
                https://assets-global.website-files.com/64b6b74827af5e8679925892/64c7eb9f6722f87953b7be0d_enterprises-startuply-x-webflow-template.jpg       796w
              "
              class="fit-cover _w-h-100"
            />
            <div class="testimonials-text-wrapper">
              <div class="testimonials-content">
                <h3 class="display-4 color-neutral-100 mg-bottom-16px">
                  Sanificazione
                </h3>
                <p class="color-neutral-100 mg-bottom-0 opacity-90">
                  Pharetra ornare at convallis vitae et vitae id at ut massa
                  congue <span class="text-no-wrap">nulla nisl in.</span>
                </p>
                <div class="divider bg-neutral-100 _0px---32px"></div>
              </div>
              <div class="bg-overlay-gradient testimonials"></div>
            </div>
          </div>
        </div>
        <div
          data-w-id="15a748ec-4b10-1702-3062-f2bc264bb553"
          style="
            transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
          "
          class="mg-top-32px"
        >
          <div class="buttons-row center">
            <a
              data-w-id="6a267c35-56a7-ff04-12e8-437cb63f5df1"
              href="/utility-pages/create-account"
              class="btn-primary w-inline-block"
              ><div class="flex-horizontal">
                <div>Get started</div>
                <div class="arrow-icon"></div>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      data-w-id="660c541a-de04-72bb-ed1a-3ea5013e74b8"
      style="opacity: 1"
      class="bg-color-section-alt"
    ></div>
  </div>
</section> -->

<!-- SERVIZI 2 -->

<!-- <section id="perks" class="section">
  <div class="container-default w-container">
    <div class="inner-container _500px---mbl center">
      <div
        data-w-id="9ab020ea-4d21-5d99-c2d9-9280495492b1"
        style="
          transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          opacity: 1;
          transform-style: preserve-3d;
        "
        class="inner-container _800px center"
      >
        <div class="text-center mg-bottom-40px">
          <div class="accent-line center"></div>
          <h2 class="display-2">
            Servizi
          </h2>
          <div class="inner-container _719px center">
            <p>
              Scoprite come i nostri servizi possono trasformare la vostra
              visione in realtà. Affidatevi a noi per un viaggio
              straordinario verso <span class="text-no-wrap red">il successo.</span>

            </p>
          </div>
        </div>
      </div>
      <div class="inner-container _400px---mbl center">
        <div
          data-w-id="2be04e90-c12e-08d7-d898-4dfdb716d65c"
          style="
            transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
          "
          class="w-layout-grid grid-3-columns gap-32px"
        >
          <div
            id="w-node-_4f1d9543-d2b7-1f0f-7e01-aeac077bf6ec-ad747afc"
            class="content-icon-top"
          >
            <div class="mg-bottom-32px">
              <div>
                <div class="content-icon-top---icon">
                  <img
                    src="assets/icons/estintore.svg"
                    loading="eager"
                    alt="Mobile And Desktop App late"
                  />
                </div>
              </div>
            </div>
            <div>
              <h3 class="display-4 mg-bottom-16px">Antincendio</h3>
              <p class="mg-bottom-0">
                Proteggiamo il tuo spazio con soluzioni antincendio
                personalizzate, garantendo sicurezza e conformità normativa.
                Siamo esperti nella progettazione e installazione di sistemi di
                prevenzione e controllo degli incendi.
              </p>
            </div>
          </div>
          <div
            id="w-node-_0dfa3998-cc81-26a0-cb07-28ba7f28e047-ad747afc"
            class="content-icon-top"
          >
            <div class="mg-bottom-32px">
              <div>
                <div class="content-icon-top---icon">
                  <img
                    src="assets/air-conditioner.png"
                    loading="eager"
                    alt="Expense Reports late"
                  />
                </div>
              </div>
            </div>
            <div>
              <h3 class="display-4 mg-bottom-16px">Climatizzazione</h3>
              <p class="mg-bottom-0">
                Creiamo ambienti confortevoli e salubri grazie alle nostre
                soluzioni di climatizzazione. Dai progetti su misura
                all'installazione di sistemi avanzati, assicuriamo un controllo
                ottimale della temperatura per il tuo benessere.
              </p>
            </div>
          </div>
          <div
            id="w-node-_3349611e-0b7d-3914-f3a6-db04806d47c0-ad747afc"
            class="content-icon-top"
          >
            <div class="mg-bottom-32px">
              <div>
                <div class="content-icon-top---icon">
                  <img
                    src="assets/idrico.png"
                    loading="eager"
                    alt="Crypto Support late"
                  />
                </div>
              </div>
            </div>
            <div>
              <h3 class="display-4 mg-bottom-16px">Idrici</h3>
              <p class="mg-bottom-0">
                Rivoluziona la gestione degli impianti idrici con il nostro
                servizio all'avanguardia. Offriamo soluzioni su misura per
                garantire un approvvigionamento idrico efficiente e sostenibile.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        data-w-id="9caf9748-fffa-1de8-d05b-f0b6fb0fdf74"
        style="
          transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          opacity: 1;
          transform-style: preserve-3d;
        "
        class="mg-top-32px"
      >
        <div
          data-w-id="9caf9748-fffa-1de8-d05b-f0b6fb0fdf75"
          style="
            transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
          "
          class="buttons-row center"
        >
          <a
            data-w-id="9caf9748-fffa-1de8-d05b-f0b6fb0fdf76"
            href="/utility-pages/create-account"
            class="btn-primary w-inline-block"
            ><div class="flex-horizontal">
              <div>Get started</div>
              <div class="arrow-icon"></div>
            </div></a
          >
        </div>
      </div>
    </div>
  </div>
</section> -->
