<section class="section hero v1">
  <div class="w-layout-blockcontainer container-default w-container">
    <div class="w-layout-grid grid-2-columns hero-v1-grid">
      <div
        id="w-node-_27ece58f-9691-bc9c-e629-b3efcf0d60ee-d0d25982"
        data-w-id="27ece58f-9691-bc9c-e629-b3efcf0d60ee"
        style="
          transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          opacity: 1;
          transform-style: preserve-3d;
        "
        class="inner-container _457px _100-tablet"
      >
        <div class="inner-container _700px---tablet">
          <div class="inner-container _600px---mbl">
            <h1 class="display-1 mg-bottom-24px">
              <span class="text-no-wrap">Parliamo un po'</span> <br /><span
                class="text-no-wrap red"
                >di noi!</span
              >
            </h1>
            <p class="mg-bottom-40px">
              Siamo un'azienda dedicata a garantire la sicurezza e il comfort
              attraverso soluzioni innovative. Specializzati nella
              progettazione, installazione e manutenzione di impianti
              antincendio e di climatizzazione, il nostro impegno è creare
              ambienti sicuri e accoglienti, mettendo al primo posto la
              protezione delle persone e dei beni. Con anni di esperienza nel
              settore, siamo orgogliosi di offrire servizi affidabili e
              soluzioni su misura per soddisfare le esigenze specifiche
              <span class="red">dei nostri clienti.</span>
            </p>
          </div>
        </div>
      </div>
      <div
        id="w-node-fc23944b-047c-43ca-2dc4-610d32e3f1fd-d0d25982"
        class="inner-container _630px width-100 _100-tablet"
      >
        <div
          data-w-id="f4d9c845-53d5-31b2-1c85-0e585c9d59b2"
          style="
            opacity: 1;
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
          "
          class="image-wrapper border-radius-12px hero-v1-image"
        >
          <img
            src="assets/imprenditore.jpeg"
            loading="eager"
            sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, (max-width: 1439px) 52vw, 630px"
            alt="About Our Company"
            class="fit-cover _w-h-100"
          />
        </div>
      </div>
    </div>
  </div>
  <img
    src="https://assets-global.website-files.com/64b6b74827af5e8679925892/64da4e495bf70de672e2f205_line-hero-about-startply-x-webflow-template.svg"
    loading="eager"
    style="opacity: 1"
    data-w-id="14a18f44-0362-8817-7881-d830e1547b36"
    alt=""
    class="position-absolute hero-v1-bg"
  />
</section>

<section class="section pd-top-0px">
  <div class="w-layout-blockcontainer container-default w-container">
    <div class="mg-bottom-64px">
      <div class="inner-container _877px center">
        <div class="inner-container _700px---tablet center">
          <div class="inner-container _600px---mbl center">
            <div
              data-w-id="6d518e3b-2f4a-dd38-cada-488e979d0687"
              style="
                transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                opacity: 1;
                transform-style: preserve-3d;
              "
              class="text-center"
            >
              <div class="accent-line center"></div>
              <h2 class="display-2">
                I principi fondamentali che ispirano ogni nostra azione 
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      data-w-id="87670ea3-ff5d-a72b-b14f-5bb57e7f352a"
      style="
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
          rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        opacity: 1;
        transform-style: preserve-3d;
      "
      class="w-layout-grid grid-2-columns gap-32px"
    >
      <div class="value-wrapper">
        <div class="display-1 mg-right-34px value-number">01</div>
        <div class="value-content">
          <h3 class="heading-h2-size mg-bottom-16px">Attuazione</h3>
          <p class="mg-bottom-0">
            Guidiamo l'implementazione con precisione, eseguendo progetti con
            dedizione e competenza per garantire
            <span class="red">risultati eccellenti.</span>
          </p>
        </div>
      </div>
      <div
        id="w-node-_253faee3-445f-7362-1439-41181696a9fa-d0d25982"
        class="value-wrapper"
      >
        <div class="display-1 mg-right-34px value-number">04</div>
        <div class="value-content">
          <h3 class="heading-h2-size mg-bottom-16px">
            Assunzione di Responsabilità
          </h3>
          <p class="mg-bottom-0">
            Assumiamo la responsabilità con determinazione, offrendo soluzioni
            innovative e personalizzate per garantire
            <span class="red">la sicurezza e il benessere.</span>
          </p>
        </div>
      </div>
      <div class="value-wrapper">
        <div class="display-1 mg-right-34px value-number">02</div>
        <div class="value-content">
          <h3 class="heading-h2-size mg-bottom-16px">
            Agilità Imprenditoriale
          </h3>
          <p class="mg-bottom-0">
            Ci muoviamo con agilità e spirito imprenditoriale, adattandoci alle
            sfide in modo dinamico.
            <span class="text-no-wrap red">aliquet posuere.</span>
          </p>
        </div>
      </div>
      <div
        id="w-node-_838acfc1-a786-f51f-5928-675aeb1dbfa7-d0d25982"
        class="value-wrapper"
      >
        <div class="display-1 mg-right-34px value-number">05</div>
        <div class="value-content">
          <h3 class="heading-h2-size mg-bottom-16px">Crescita</h3>
          <p class="mg-bottom-0">
            Promuoviamo la crescita continua, fornendo soluzioni che si adattano
            alle esigenze in evoluzione.
            <span class="text-no-wrap">morbi urna.</span>
          </p>
        </div>
      </div>
      <div class="value-wrapper">
        <div class="display-1 mg-right-34px value-number">03</div>
        <div class="value-content">
          <h3 class="heading-h2-size mg-bottom-16px">I Risultati Contano</h3>
          <p class="mg-bottom-0">
            Concentriamoci sui risultati, implementando strategie che portano a
            un impatto
            <span class="text-no-wrap red"> tangibile.</span>
          </p>
        </div>
      </div>
      <div
        id="w-node-_6f32cae0-909c-0405-2310-8a36fe701ddf-d0d25982"
        class="value-wrapper"
      >
        <div class="display-1 mg-right-34px value-number">06</div>
        <div class="value-content">
          <h3 class="heading-h2-size mg-bottom-16px">Team Work</h3>
          <p class="mg-bottom-0">
            Favoriamo il lavoro di squadra, collaborando con determinazione per
            superare
            <span class="text-no-wrap red">le sfide.</span>
          </p>
        </div>
      </div>
    </div>
    <div
      data-w-id="1638c7ad-2231-c00e-9e35-9321be6081e9"
      style="
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
          rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        opacity: 1;
        transform-style: preserve-3d;
      "
      class="mg-top-32px"
    ></div>
  </div>
</section>
